.bgd{
    background-color: #267163;
}
@media only screen and (min-width: 768px){
    .abc{
        display: none;
        text-align: center;
      
    }
}
.abc{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}
 


.effect-4 a:before {
    content: "[";
    left: -5px;
  }
  
  .effect-4 a:after {
    content: "]";
    right: -5px;
  }
  
  .effect-4 a:before,
  .effect-4 a:after {
    position: absolute;
    opacity: 0;
    color: #fff;
    top: -1px;
    transition: all .5s;
  }
  
  .effect-4 a:hover:before,
  .effect-4 a:hover:after {
    opacity: 0.7;
  }
  
  .effect-4 a:hover:before {
    left: -20px;
  }
  
  .effect-4 a:hover:after {
    right: -20px;
  }